%section.left_sidebar
  %h2 Left sidebar

  = semantic_form_for @report, :html => {:multipart => true }, :format => :html, :url => send_api_reports_path do |f|
    = f.input :title, :input_html => {:value => "asdasdasd"}
    = f.input :description, :input_html => {:value => "sropisrospsifp"}
    = f.input :photo, :as => :file
    = f.input :latitude, :input_html => {:value => 123.45678}
    = f.input :longitude, :input_html => {:value => 123.45678}
    = f.input :category_id, :input_html => {:value => 1}
    = f.submit