%section.right_sidebar
  %h2 Kategorie zdarzeń
  %ul#categories
    - @categories.each do |category|
      = render :partial => 'categories/category', :object => category

  = semantic_form_for @report, :html => {:multipart => true }, :format => :html, :url => send_report_api_reports_path do |f|
    = f.input :title, :input_html => {:value => "asdasdasd123123"}
    = f.input :description, :input_html => {:value => "sropisrospsifp123123"}
    = f.input :photo, :as => :file
    = f.input :latitude, :input_html => {:value => 52.3992}
    = f.input :longitude, :input_html => {:value => 16.9355}
    = f.input :category_id, :as => :string, :input_html => {:value => "pro"}
    = f.submit