!!!
%html
  %head
    %title System Zgłaszania Szkód - Poznań
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application, :media => "all"
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAVlkBuQdOCQBCgGaNYsRW9VqjRPaenido&sensor=false&language=pl"
    = csrf_meta_tags
    %meta{charset: "utf-8"}
    %meta{:content => "System Zgłaszania Szkód - Poznań", :property => "og:title"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "http://reporter-maps.herokuapp.com", :property => "og:url"}/
    %meta{:content => "IMAGE", :property => "og:image"}/
    %meta{:content => "System Zgłaszania Szkód - Poznań", :property => "og:site_name"}/
    %meta{:content => "1718041185", :property => "fb:admins"}/
  %body{class: "#{controller_name}_controller #{action_name}_action", data: {view_name: "#{controller_name.classify}"}}
    = render 'layouts/header'
    = render 'layouts/content'
    = render 'layouts/footer'